@font-face {
    font-family: "CabinetGrotesk";
    src: url("../fonts/cabinet-grotesk-webfont/CabinetGrotesk-Bold.woff");
    font-weight: 700;
}

.header {
    display: flex;
    align-items: center;
    max-height: 40px;
    padding: 32px 0 28px 0;
    position: relative;
}

.header__block {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 24px;
}

.header__paragraph {
    margin: 0;
    font-family: "CabinetGrotesk", Arial, Helvetica;
    font-size: 20px;
    line-height: 24px;
}

.header__block-secondary {
    display: flex;
    position: absolute;
    top: 32px;
    right: 0;
    min-height: 40px;
}

.header__avatar-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
}

.header__button {
    margin-left: 20px;
    border: none;
    font-family: "CabinetGrotesk", Arial, Helvetica;
    font-size: 20px;
    line-height: 24px;
    background-color: #f3f3f3;
}

.header__link {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
    gap: 12px;
}

.header__user-container {
    display: flex;
    align-items: center;
}

.header__username {
    margin: 0 0 0 20px;
    font-family: "CabinetGrotesk", Arial, Helvetica;
    font-size: 20px;
}

.header__avatar {
    margin-left: 12px;
    position: relative;
    width: 40px;
}

.header__avatar-hover {
    opacity: 0%;
    position: absolute;
    right: 40px;
}

.header__open-modal {
    visibility: hidden;
}

@media screen and (max-width: 750px) {


    .header {
        width: 343px;
        margin: 0 auto;
        position: relative;
    }

    .header__block {
        margin: 0;
        flex-direction: column;
        gap: 34px;
        align-items: flex-start;
    }

    .header__logo {
        margin-top: 20px;
    }

    .header__block-secondary {
        visibility: hidden;
    }

    .header__open-modal {
        visibility: visible;
        position: absolute;
        top: 10px;
        right: -10px;
        border: none;
        background-color: #f3f3f3;
        border-radius: 10px;
        padding: 0;
    }
}