.card {
    position: relative;
    width: 323px;
    max-height: 326px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 19px;
    list-style-type: none;
}

.card__name {
    position: absolute;
    top: 15px;
    left: 125px;
    margin: 0;
    border-radius: 4px;
    background-color: #fff;
    padding: 2px 12px;
    font-family: "cabinetGrotesk", Arial, Helvetica;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, .6);
}

.card__image {
    border-radius: 19px;
    border: 1px;
    width: 323px;
    height: 326px;
}

.card__like-button {
    position: absolute;
    top: 15px;
    right: 112px;
    background: url("../images/like.svg") no-repeat center;
    background-size: contain;
    height: 15px;
    width: 18px;
    border: none;

}

.card__like-button_active {
    background: url("../images/liked.png") no-repeat center;
    background-size: contain;
    border: none;
    height: 15px;
    width: 18px;

}

@media screen and (max-width: 750px) {
    .card {
        width: 162px;
        max-height: 162px;
    }

    .card__image {
        width: 100%;
    }

    .card__name {
        top: 7px;
        left: 44px;
    }
}